@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

/* optional custom styles */
body {
  font-family: ui-sans-serif, system-ui;
  background-color: #f9fafb;
}
@layer utilities {
  .animate-spin-slow {
    animation: spin 2s linear infinite;
  }
}
